/*user view style*/

table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  padding: 5px;
  }
  table {
    border-spacing: 1px;
    width: 100%;
  }
  input[type=text], select, textarea{
    width: 120px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    float: left;
    margin-bottom: 4px;
    margin-left: 2px;

  }  
  .Updatebtn{
    background-color: rgb(12, 12, 83);
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .user-view-form{
    background-color: whitesmoke;
    width: 40%;
    background-position: center;
    text-align: center;
    position: relative;
    margin: 50px 300px;
    padding: 30px 70px;
    height: 400px;
  }
  .col-25 {
  float: left;
    width: 25%;
    margin-top: 2px;
  }
  .headertitle{
    color: white;
  }

  .content-wrap{
    justify-content: space-between;
  }
  /*admin view style*/
  .reportbtn {
    background-color: rgb(12, 12, 83);
    /*border: 1px solid  rgb(12, 12, 83);  Green border */
    color:white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right;  /*Float the buttons side by side */
    background-position:center;
  }
  .blockbtn {
    background-color: rgb(12, 12, 83);
   /* border: 1px solid  rgb(12, 12, 83);  Green border */
    color:white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    background-position:center;
  }
  .Deletebtn {
    background-color: rgb(12, 12, 83);
    /*border: 1px solid  rgb(12, 12, 83);  Green border */
    color:white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    background-position:center;
  }
  .createbtn {
    background-color: rgb(12, 12, 83);
    /*border: 1px solid  rgb(12, 12, 83);  Green border */
    color:white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    background-position:center;
  }
  .button2 button:hover {
    background-color: rgb(12, 12, 83);
    text-align: center;
    justify-content: space-between;
  }
  
  .adminView-form{
    background-color: whitesmoke;
  width: 40%;
  height: 400px;
  background-position: center;
  text-align: center;
  position: relative;
  margin: 50px 300px;
  padding: 30 70px;
  }
  /*user view and admin view*/
  body{
    /*background-image: url(Pic.jpg);|*/
    background-color:whitesmoke;
  }
 
  header{
    background-color: grey;
    position: fixed;
    text-align: left;
    color: white;
    width: 100%;
    top: 0;
    height: 2px; 
    padding: 10px; 
    left: 0px;
  }
  footer {
    background-color: grey;
  text-align: center;
  position:fixed;
  color: white;
  bottom: 0;
  width: 100%; 
  padding: 10px;
  left: 0;    
  }
  
  @media screen and (max-width: 600px) {
    .col-25,.col-75, input[type=text], input[type=submit] {
      width: 100%;
      margin-top: 0;
  
    }
  }